target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Security: local secrets and credentials
.env
.env.*
!.env.example
*.key
*.pem
*.p12
*.pfx
*.jks
*.keystore
id_rsa
id_rsa.*
credentials.json
*.secrets.json
